{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "expect": true,
    "module": true
  },
  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "render"
        ]
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": {
          "consistent": true
        },
        "ObjectPattern": {
          "consistent": true
        }
      }
    ],
    "function-paren-newline": "off",
    "max-len": [
      "error",
      {
        "code": 80,
        "ignoreComments": true,
        "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
        "ignoreTemplateLiterals": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
